@import 'colors';

#board {
  margin-bottom: 10px;
  margin-top: 10px;
}

.box {
  border: 1px #000;
  border-style: solid;
  font-size: 50px;
  height: 150px;
  padding: 38px 0
}


//
// body {
// background-color: blue;
// }
