@import 'colors';


.box {
  border: 1px #000;
  border-style: solid;
  font-size: 50px;
  height: 150px;
  padding: 38px 0;
  text-align: center;
}

#board {
  margin-bottom: 10px;
  margin-top: 10px;
}

#change-password {
display: none;
}

.gameboard {
  display: none;
}

#game-wins {
  display: none;
}

main {
  flex-direction: row;
  flex-grow: 1;
}

#new-game {
  display: none;
}

#reset-game {
  display: none;
}

#sign-out {
  display: none;
}
